
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff;
    color: black;
    margin: 0;
    padding: 0;
}


header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #FFA500;
}

    nav ul li {
        margin: 10px;
    }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            padding: 8px 12px;
        }

            nav ul li a:hover {
                text-decoration: underline;
            }


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 80%;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
